@model IEnumerable<UluagroAspnet.Models.MARK>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/AgroPark/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-fluid">
    <div class="d-flex justify-content-between mb-3">
        <h3>Dərman & Gübrə Markalarının siyahısı</h3>
        <button data-toggle="modal" data-target="#mark_add_Modal" style="outline:none;" class="u_btn sbm_btn">Yeni Marka Əlavə Et</button>
    </div>

    <div class="table_con">
        <table class="table table-hover table-bordered t_h_fixed">
            <thead>
                <tr>
                    <th>
                        Adı
                    </th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="width:85%;">
                            @Html.DisplayFor(modelItem => item.NAME)
                        </td>
                        <td style="width:15%;text-align:-webkit-center;">
                            <button style="outline:none;" data-toggle="modal" data-target="#mark_edit_Modal" data-name="@item.NAME" data-id="@item.OBJECTID" class="ico ico_edit"><i class="fas fa-pencil-alt"></i></button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>


@* Add Mark *@
<div class="modal fade" id="mark_add_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Yeni marka əlavə edin</h5>
                <button style="outline:none;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="new_m_name" type="text" value="" />
            </div>
            <div class="modal-footer">
                @*<button type="button" class="u_btn go_b_btn w_100" data-dismiss="modal">Geri qayıt</button>*@
                <button style="outline:none;" type="button" id="add_new_mark" class="u_btn sbm_btn w_100">Əlavə et</button>
            </div>
            <div class="alert alert-danger" id="error_alert" style="display:none;">
                <p>Please write anything first!</p>
            </div>
        </div>
    </div>
</div>

@* Edit Firm *@
<div class="modal fade" id="mark_edit_Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Markanı redaktə edin</h5>
                <button style="outline:none;" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input class="form-control" id="edit_m_name" type="text" value="" />
            </div>
            <div class="modal-footer">
                @*<button type="button" class="u_btn go_b_btn w_100" data-dismiss="modal">Geri qayıt</button>*@
                <button type="button" id="edit_firm" class="u_btn sbm_btn w_100">Redaktə et</button>
            </div>
            <div class="alert alert-danger" id="edit_error_alert" style="display:none;">
                <p>Please write anything first!</p>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        var content = $("#new_m_name");
        var $editInput = $('#edit_m_name');
        var $slctd_id;//ID of selected item

        //Add New Category
        $("#add_new_mark").on("click", function () {
            if (content.val().trim() != "") {
                $("#error_alert").css("display", "none");
                $('#mark_add_Modal').modal('toggle');
                $.ajax({
                    url: "/MARKs/AddMark",
                    data: {
                        name: content.val()
                    },
                    type: "post",
                    dataType: "html"
                })
                location.reload();
            }
            else {
                $("#error_alert").css("display", "block");
            }
        });

        //Select Category for change
        $(".ico_edit").on("click", function () {
            $editInput.val($(this).data('name'));
            $slctd_id = $(this).data('id');
        });

        //Edit and save changes
        $("#edit_firm").on("click", function () {
            if ($editInput.val().trim() != "") {
                $("#edit_error_alert").css("display", "none");

                $('#mark_edit_Modal').modal('toggle');

                $.ajax({
                    url: "/MARKs/EditMark",
                    data: {
                        name: $editInput.val(),
                        id: $slctd_id
                    },
                    type: "post",
                    dataType: "html"
                })

                location.reload();
            }
            else {
                $("#edit_error_alert").css("display", "block");
            }
        });
    </script>
}